<div class="row">
    <div class="col-12 center">
        <h1>FlareBot Language File Editor</h1>
    </div>
</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form method="POST" action="/form">
            <div class="select-wrap">
                <label for="lang">Select a language: </label>
                <select id="lang" name="lang">
                            <option value="english-uk">English - UK</option>
                        </select>
            </div>
            <label for="path">Path to value:</label>
            <input id="path" name="path" type="text" placeholder="Path">

            <label for="value">Value:</label>
            <input id="value" name="value" type="text" placeholder="Value">

            <label for="code">Auth code:</label>
            <input id="code" name="code" type="text" placeholder="Auth Code" {{#if code}}value={{code}}{{/if}}>

            <div class="center">
                <input type="submit">
            </div>
        </form>
    </div>
</div>